
main {
    // Section level styling
    .contentContainer {
        padding: $globalMargin;

        display: grid;
        grid-template-columns: 1fr;
        grid-gap: $globalMargin;

        line-height: 1.3;

        section > p {
            margin-top: 20px;
            margin-left: 1rem;
        }
    }
    // Content level styling
    h2 {
        color: nth($siteColors, 1);
    }

    .bios {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: $globalMargin;
    }

    .bio {
        max-width: 48rem;

        h3 {
            padding: 0rem 0rem .125rem 0rem;
        }

        .imageBioGroup {
            display: grid;
            grid-template-columns: min-content auto;
            grid-gap: 1rem;
        }

        img {
            $imageSize: 160px;
            width: $imageSize;
            height: $imageSize;
        }
    }
    
} 
